@import url("./normalize.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  font-weight: normal;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: medium;
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"),
    url("../fonts/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: 600;
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: bold;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: 800;
  src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2"),
    url("../fonts/Barlow-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: 900;
  src: url("../fonts/Barlow-Black.woff2") format("woff2"),
    url("../fonts/Barlow-Black.ttf") format("truetype");
}

* {
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--color-body-bg);
}

html {
  overflow-y: var(--html-overflow-y);
  min-width: 768px;
  overscroll-behavior: none;
}

#root,
input {
  font-family: "Barlow", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif,
    microsoft uighur;
}

select,
button {
  font-family: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

input:focus,
button:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a::hover {
  text-decoration: underline;
}

.textOverflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.user-select-none {
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid rgba(128, 128, 128, 0.18);
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.38);
}
